{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'despesas'%}">Despesas</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Editar Despesa
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a
        href="{% url 'deleta_despesa' despesa.id %}"
        class="btn btn-danger btn-sm"
        >Delete</a
      >
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'edita_despesa' despesa.id %}" method="post">
        {% include 'partials/_messages.html'%} {% csrf_token %}
        <div class="form-group">
          <label for="">Valor</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="valor"
            value="{{values.valor}}"
          />
        </div>
        <div class="form-group">
          <label for="">Descrição</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="descricao"
            value="{{values.descricao}}"
          />
        </div>
        <div class="form-group">
          <label for="">Unidade</label>
          <select class='form-control' name="unidade">
            {% for unidade in unidades %}
            <option name='unidade' value="{{unidades.identicacao}}">{{unidades.identicacao}}</option>
            {% endfor %}
            <option name='unidade' value="Nenhum">Nenhum</option>
          </select>
        </div>
            <div class="form-group">
          <label for="">Tipo Despesa</label>
          <input
            type="text"
            value="{{values.tipo_despesa}}"
            class="form-control form-control-sm"
            name="tipo_despesa"
          />
        </div>
        <div class="form-group">
          <label for="">Vencimento</label>
          <input
            type="date"
            value="{{values.vencimento_fatura |date:'Y-m-d' }}"
            class="form-control form-control-sm"
            name="vencimento_fatura"
          />
        </div>
        <div class="form-group">
            <label for="">Status</label>
            <select class='form-control' name="status_pagamento">
                <option selected name="status_pagamento" value='{{values.status_pagamento}}'>{{values.status_pagamento}}</option>
                <option name='status_pagamento' value="Pago">Pago</option>
                <option name='status_pagamento' value="Atrasado">Atrasado</option>
                <option name='status_pagamento' value="Não Pago">Não Pago</option>
          </div>

        <input
          type="submit"
          value="Save"
          class="btn btn-primary btn-primary-sm"
        />
        </form>
    </div>
  </div>
</div>

{% endblock %}
